body{
	background-color:#fce7d1;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: yellow;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align:center;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}

.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing:border-box;
	width:100%;
}
.menu-item{
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
}

.row{
	margin: 20px;
}
.navbar-nav>li>a:hover{
	background-color: black;
	color:white;
	font-weight:bold;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.dd{
  font-size: 30px;
  color: black;
  padding-left: 110px;
  text-decoration:none;
}
.dd:hover{
	color:red;
	font-weight:bold;
	text-decoration:none;
}
